<!--index.vtl-->
<h3>Welcome to Jobs Search!</h3>

<p>
  Would you like to add a job post?
  <a href="/job">Post a job</a>
  Would you like to view all jobs?
  <a href="#">View All jobs</a>
</p>
<!--index.vtl-->
